<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cnname</key>
		<string>生化危机</string>
		<key>jpname</key>
		<string>バイオハザード</string>
		<key>enname</key>
		<string>Resident Evil</string>
		<key>year</key>
		<string>1996年</string>
		<key>origin</key>
		<string>PS</string>
		<key>transplant</key>
		<string>PC,SS,NGC,NDS</string>
		<key>image</key>
		<string>resident_cover_1</string>
		<key>brief</key>
		<string>《生化危機》（日版名：バイオ ハザード，BIO HAZARD，英文版名：Resident Evil，中国大陆和香港译作“生化危機”，台湾译作“恶灵古堡”）是卡普空最初於1996年3月22日在日本發售的PlayStation用恐怖動作冒險遊戲，是生化危機系列的第一款作品。遊戲的畫面是以CG背景、第三人稱表現，遊戲監督為三上真司。初推出時因其獨特的解謎事件及恐怖感而廣受歡迎。2001年，生化危機系列於任天堂GameCube獨佔，2002年重新開發《生化危機》復刻版。</string>
		<key>history</key>
		<string>在1996年3月22日《生化危機》正式發售，成為PlayStation首個突破百萬銷量的遊戲。其後《生化危機》在1997年7月25日推出世嘉土星版。PlayStation版則再推出 导演剪辑版及再往後的DualShock版（振動版）。导演剪辑版在初始的版本中加插兩個模式：Beginner 及 Arrange。Original 即元祖的版本。Beginner為適合初玩者的難度，遊戲中獲得的彈藥數為原本的兩倍。Arrange 為再後期所製作的難度，這模式中的敵人能力、道具、解謎都與原版的不同，大概為後期GameCube的復刻版所鋪設的故事。\n\n在製作《生化危機4》的途中，三上真司發佈了一系列生化危機系列的製作大計，其中包括在任天堂的GameCube上重新製作生化危機系列中的生化危機第一代，利用GameCube優秀的3D性能，大幅度改善貼圖及光源的效果，並且重新人物的設計及故事上的編排。遊戲於2002年推出，但官方名字仍然是「生化危機」(biohazard)，往後此版本被玩家通稱為「生化危機復刻版」(Biohazard Remake或者rebio),簡稱「新生」或「重生」。其後的《生化危機0》於「新生」後發售。</string>
		<key>story</key>
		<string>遊戲開始前需從兩位主角中選擇，分別是吉兒·華倫泰（Jill Valentine）及克里斯·雷德費爾（Chris Redfield），選角除了影響難度，劇情發展和解迷方針會略有不同。視乎玩家拯救隊員的數量，共有四個結局，此介紹以最佳結局為依據。\n\n浣熊市（Raccoon City）郊區森林地帶發生離奇的殺人事件，受害者身體上有曾被生物咀嚼過的傷痕而且大多支離破碎，浣熊市警察局S.T.A.R.S.特種部隊派遣Bravo小隊前往調查但音訊全無，Alpha小隊因此奉命調查。1998年7月24日，Alpha小隊尋獲Bravo小隊之直昇機，現場除了一只斷手外沒有生還者。小隊在現場調查時被貌似犬隻之不明生物襲擊，一名隊員被殺，Alpha小隊直昇機駕駛員驚恐下獨自駕駛直昇機離開，生還的隊員（吉兒、克里斯、亞伯·維斯卡（Albert Wesker）以及貝利（Barry Burton））為躲避襲擊而逃進一所貌似已荒廢之洋館中。\n\n玩家角色於洋館內調查時逐一發現身亡的各Bravo小隊成員。洋館內除滿佈陷阱、謎題和大量恐怖生物，散落的文件也顯示一支隸屬大型跨國製藥企業安布雷拉公司（Umbrella Corporation）之秘密研究隊伍曾在此進行多項非法實驗，館內人士與動物因接觸了一種傳染性極高之病毒突變體T病毒而成為活死生物。\n\n玩家角色最終發現館內的安布雷拉實驗室，亦發現威斯卡乃秘密協助安布雷拉之雙重間諜。威斯卡被室內一隻實驗生物殺死，玩家角色亦啟動實驗室自毀系統並救出被維斯卡俘虜的Alpha隊員。吉兒、克里斯與其餘隊員前往停機坪聯絡Alpha小隊直昇機駕駛員時被T病毒生化武器「暴君」（Tyrant）襲擊，暴君被擊敗後眾人趕及在洋館被自毀系統炸毀前乘坐直昇機離開。</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机2</string>
		<key>jpname</key>
		<string>バイオハザード2</string>
		<key>enname</key>
		<string>Resident Evil 2</string>
		<key>year</key>
		<string>1998年</string>
		<key>origin</key>
		<string>PS</string>
		<key>transplant</key>
		<string>PC,N64,DC,NGC</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机3</string>
		<key>jpname</key>
		<string>バイオハザード3</string>
		<key>enname</key>
		<string>Resident Evil 3</string>
		<key>year</key>
		<string>1999年</string>
		<key>origin</key>
		<string>PS</string>
		<key>transplant</key>
		<string>PC,DC,NGC</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机 代号：维罗妮卡</string>
		<key>jpname</key>
		<string>バイオハザード CODE: Veronica</string>
		<key>enname</key>
		<string>Resident Evil:Code Veronica</string>
		<key>year</key>
		<string>2000年</string>
		<key>origin</key>
		<string>DC</string>
		<key>transplant</key>
		<string>PS2,NGC,PS3,XBOX360</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机 重置版</string>
		<key>jpname</key>
		<string>バイオハザード</string>
		<key>enname</key>
		<string>Resident Evil</string>
		<key>year</key>
		<string>2002年</string>
		<key>origin</key>
		<string>NGC</string>
		<key>transplant</key>
		<string>Wii,PS3,XBOX360,PS4,XBOXOne,PC</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机0</string>
		<key>jpname</key>
		<string>バイオハザード0</string>
		<key>enname</key>
		<string>Resident Evil 0</string>
		<key>year</key>
		<string>2002年</string>
		<key>origin</key>
		<string>NGC</string>
		<key>transplant</key>
		<string>Wii</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机4</string>
		<key>jpname</key>
		<string>バイオハザード4</string>
		<key>enname</key>
		<string>Resident Evil 4</string>
		<key>year</key>
		<string>2005年</string>
		<key>origin</key>
		<string>NGC</string>
		<key>transplant</key>
		<string>PC,PS2,Wii,iPhone,iPad,PS3,XBOX360</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机5</string>
		<key>jpname</key>
		<string>バイオハザード5</string>
		<key>enname</key>
		<string>Resident Evil 5</string>
		<key>year</key>
		<string>2009年</string>
		<key>origin</key>
		<string>PS3,XBOX360</string>
		<key>transplant</key>
		<string>PC</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机：启示录</string>
		<key>jpname</key>
		<string>バイオハザード リベレーションズ</string>
		<key>enname</key>
		<string>Resident Evil: Revelations</string>
		<key>year</key>
		<string>2012年</string>
		<key>origin</key>
		<string>3DS</string>
		<key>transplant</key>
		<string>XBOX360,PS3,Wii U,PC</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机6</string>
		<key>jpname</key>
		<string>バイオハザード6</string>
		<key>enname</key>
		<string>Resident Evil 6</string>
		<key>year</key>
		<string>2012年</string>
		<key>origin</key>
		<string>PS3,XBOX360</string>
		<key>transplant</key>
		<string>PC</string>
	</dict>
	<dict>
		<key>cnname</key>
		<string>生化危机：启示录2</string>
		<key>jpname</key>
		<string>バイオハザード リベレーションズ 2</string>
		<key>enname</key>
		<string>Resident Evil: Revelations 2</string>
		<key>year</key>
		<string>2015年</string>
		<key>origin</key>
		<string>PS3,XBOX360,PS4,XBOXOne,PC</string>
		<key>transplant</key>
		<string>PS vita</string>
	</dict>
</array>
</plist>
